
body {
    min-width: 1200px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: normal;
    color: #533738;
    background-color: #e5e5e5;
}
h1{

}